/* //   Feature #3: Style the application
// Why are we implementing this feature?
// As a user, I want a simple, clean looking UI so that my photo gallery clearly displays the images in a grid like pattern.
// What are we going to implement?
// Given that a user opens the application in the browser When the user navigates to the home page Then the images should be displayed in rows across the screen

// How are we implementing it?
// Style your application using floats.
// Utilize at least one Google font. */

main{

    display: flex;
    /* flex-flow: column;
     */

     flex-wrap: wrap;
    align-items:flex-start;


}
select{
    width: 150px;
    /* border: black solid; */
}
#template{
    overflow: auto;
    /* height: 250px; */
    /* border: black solid; */

}
img{
    width: 150px;
    height: 150px;
    margin: 10px;

}